[Desktop Entry]
Name=Saturn AppImage Launcher
Comment=Launches AppImages
Icon=app-launcher
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_saturnappimagelauncher

X-KDE-PluginInfo-Author=Tridentu Group
X-KDE-PluginInfo-Email=tridentugroup@protonmail.com
X-KDE-PluginInfo-Name=io.github.tridentu.saturnappimagelauncher
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://tridentu.github.io/saturn-appimage-launcher
X-KDE-PluginInfo-Category=Application Launchers
X-KDE-PluginInfo-License=LGPL-2.1+
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

